*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color:#DCE0FA;
}
.container{
    width: 80%;
    min-height: 250px;
    margin: auto;
    margin-top: 12px;
}
.container .header
{
    background-color:#23BBF3;
    padding: 8px;
    width: 100%;
    height: 55px;
    border-radius: 20px 20px 0 0 ;
}
.header h1
{
    text-align: center;
    color: white;
}
.menu{
    width: 100%;
    height: 55px;
    padding: 5px;
   background-color: #2DA3ED;
   border-radius: 0 0 20px 20px;
}
.container .menu ul li
{
    display: inline-block;
    padding: 8px;

}
.container .menu ul li a
{
    font-size: 23px;
    width: 12px;
    text-decoration: none;
    padding: 8px;
    color: white;
    
}
.container .menu ul li a:hover
{
    background-color: aliceblue;
    color: #000;
    border-radius: 15px;
}
.container .form-data
{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-top: 50px;
    background-color: #DCE0FA;
}
.container .form-data table
{
    width: 60%;
     min-height: 550px;
    margin: auto;
    border-collapse: collapse;
}
.container .form-data tr, td
{
    margin: auto;
}
.container .form-data td
{
    width: 100%;
    height: 35px;
    padding: 5px;
}
.container .form-data label
{
    font-size: 25px;
    text-align: left;
    color: #abacae;
}
.container .form-data input[type="password"], input[type = "email"]{
    width: 100%;
    height: 40px;
}
.form-data button
{
    font-size: 22px;
    padding: 6px;
    background-color: #2CA4ED;
    color: white;
    width: 150px;
    border-radius: 20px;
}
.container .form-data .buttontd{
    text-align: center;
}

.form-data h1
{
    color: #6267D9;
    font-weight: 800;
}
.container .form-data h3, h1
{
    color: #6267D9;
}

.container .form-data .logintitle
{
    width: 60%;
    margin: auto;
    padding: 6px;
    margin-bottom: 15px;
}
.container .form-data .data-con
{
    width: 30%;
     margin: auto;
   height: 700px;
    border-radius: 25px;
    background-color: white;
    padding: 15px;
}
.forget
{
    width: 100%;
    margin: auto;
}
.container .form-data a
{
    text-decoration: none;
    font-size: 20px;
}