* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 150px;
  border: 1px solid #000;
  margin: auto;
}
.container .main-display {
  width: 100%;
  height: 100vh;
  background-image: url("../img/mb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}
.main-display .content-main-display {
  width: 60%;
  margin: auto;
  height: 400px;
  /* border: 1px solid #000; */
  border: 1px solid s#b8b7b7;
  color: white;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.main-display .content-main-display {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
  left: 30%;
  z-index: 1;
}
.main-display .content-main-display h2 {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 10px;
}
.main-display .content-main-display h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}
.main-display .content-main-display p {
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

.content-main-display .call-me{
    display: flex;
    width: 100%;
    border: 1px solid #b9b7b7;
    height: 80px;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    top:85%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.call-me{
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}
.call-me label
{
    flex-basis: 25%;
}
.call-me input
{
    width: 25%;
}
.call-me button
{
    flex-basis: 25%;
}
@media only screen and (max-width: 400px) {
  .container .main-display {
    height: 90vh;
    background-image: url("./../img/mb.jpg");
    background-position: center;
  }
  .main-display .content-main-display {
    width: 100%;
    top: 30%;
    left: 50%;
    position: absolute;
  }
  .main-display .content-main-display h2 {
    font-size: 8vw;
  }
  .main-display .content-main-display h1 {
    font-size: 15vw;
  }
.main-display .content-main-display p {
    font-size: 5.3vw;
    padding: 8px;
}
.content-main-display .call-me{
     top:100%;
}
}