*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 80%;
    margin: auto;
    border: 1px solid #c61e1e;
}
.header
{
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 10% 50% 40%;

}
.header .logo
{
border: 1px solid #000;
}
.header .menu
{
border: 1px solid #000;
}
.header .login
{
border: 1px solid #000;
}