* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 150px;
  border: 1px solid #df1515;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 60px 100vh 60px;
  grid-template-areas:
    "header"
    "text-content"
    "footer";
}
.header {
  grid-area: header;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  grid-template-rows: 60px;
  grid-template-areas: "logo menu-1 icons-right";
}
.header .logo {
  height: 100%;
  width: 100%;
  grid-area: logo;
  border: 1px solid #000;
}
.header .logo img {
  width: 100%;
  height: 100%;
}
.header .menu-1 {
  grid-area: menu-1;
  border: 1px solid #000;
  padding: 8px;
}
.header .menu-1 ul {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.header .menu-1 ul a{
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
}
.header .icons-right {
  height: 100%;
  width: 100%;
  grid-area: icons-right;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .icons-right button
{
  width: 60%;
  height: 60%;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: transparent;
  color: black;
  border:none;
  background-color: aqua;
}
.header .icons-right button:hover
{
  background-color: burlywood;

}
@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
  .header {
    grid-area: header;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px;
    grid-template-areas: "logo icons-right" 
    "menu-1 menu-1";
  }
  .header .menu-1
  {
    padding: 5px;

  }
   .header .menu-1 ul
   {
    padding: 0px;
    width: 100%;
    flex-direction: column;
    padding: 10px;
   }
  .header .menu-1 ul a{
    font-size: 1px;
    padding: 8px;
}
.text-content{
    background-size: contain;
    height: 40vh;
}
}
.text-content {
  grid-area: text-content;
  border: 1px solid #000;
  background-image: url(./img/content-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  background-position: center;
}
.footer {
  grid-area: footer;
  border: 1px solid #000;
}

