*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 500px;
    /* border: 1px solid #000; */
    margin: auto;
    flex-wrap: wrap;
}
.container .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80px;
    /* border: 1px solid #000; */
    background-color: rgb(79, 131, 163);
    justify-content: center;
    align-items: center;
    font-weight: 200;
    flex-wrap: wrap;
}
.container .slider-img{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 250px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: beige;
}
.container .space{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 60px;
    /* border: 1px solid #000; */
    background-color: rgb(239, 202, 68);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .section-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid #000; */
    background-color: rgb(166, 234, 166);
    min-height: 180px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    padding: 10px;
    gap: 25px;
}
.container .section-1 .section-1-article-1{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    height: 150px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 157, 184);
}
.container .section-1 .section-1-article-2{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    height: 150px;
    /* border: 1px solid #000; */
    align-items: center;
    justify-content: center;
    background-color: rgb(167, 157, 184);
}
.container .section-1 .section-1-article-3{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    height: 150px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 157, 184);
}
.container .section-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    /* border: 1px solid #000; */
    background-color: rgb(190, 183, 173);
    padding: 10px;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .section-2 .section-2-article-1{
    display: flex;
    flex-direction: row;
    flex-basis: 22%;
    /* border: 1px solid #000; */
     background-color: rgb(167, 157, 184);
     min-height: 100px;
     justify-content: center;
     align-items: center;
}
.container .section-2 .section-2-article-2{
    display: flex;
    flex-direction: row;
    flex-basis: 22%;
    /* border: 1px solid #000; */
     background-color: rgb(167, 157, 184);
     min-height: 100px;
     justify-content: center;
     align-items: center;
}
.container .section-2 .section-2-article-3{
    display: flex;
    flex-direction: row;
    flex-basis: 22%;
    /* border: 1px solid #000; */
     background-color: rgb(167, 157, 184);
     min-height: 100px;
     justify-content: center;
     align-items: center;
}
.container .section-2 .section-2-article-4{
    display: flex;
    flex-direction: row;
    flex-basis: 22%;
    /* border: 1px solid #000; */
     background-color: rgb(167, 157, 184);
     min-height: 100px;
     justify-content: center;
     align-items: center;
}
.container .section-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 55px; */
    justify-content: space-around;
    padding: 15px;
    gap: 25px;
    flex-grow: 1;
    gap: 100px;
    width: 100%;
    min-height: 300px;
    /* border: 1px solid #000; */
    background-color: rgb(192, 143, 79);
}
.container .section-3 .section-3-div-1
{
    display: flex;
    flex-basis: 35%;
    min-height: 250px;
    /* border: 1px solid #000; */
     background-color: rgb(167, 157, 184);
     justify-content: center;
     align-items: center;
     text-align: center;
     align-content: center;
}
.container .section-3 .section-3-div-2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
     flex-basis: 25%;
    min-height: 250px;
    /* border: 1px solid #000; */
     background-color: rgb(166, 234, 166);
     justify-content: center;
     align-items: center;
     padding: 8px;
     justify-content: space-around;
     gap: 10px;
}
.container .section-3 .section-3-div-2 .section-3-div-2-article-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(167, 157, 184);
    min-height: 90px;
    justify-content: center;
    align-items: center;
}
.container .section-3 .section-3-div-2 .section-3-div-2-article-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(167, 157, 184);
    min-height: 90px;
    justify-content: center;
    align-items: center;
}
.container .section-4{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    /* border: 1px solid #000; */
     background-color: rgb(166, 234, 166);
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 10px;
     flex-grow: 1;
     gap: 15px;
}
.section-4-article-1
{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    min-height: 80px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
     background-color: rgb(167, 157, 184);

}
.section-4-article-2
{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    min-height: 80px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
     background-color: rgb(167, 157, 184);

}
.section-4-article-3
{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    min-height: 80px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-items: center;
     background-color: rgb(167, 157, 184);

}

.container .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: silver;
    /* border: 1px solid #000; */
}
