*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 600px;
    border: 1px solid #000;
    margin: auto;
    padding: 5px;
}
.first{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    border: 1px solid #000;
    justify-content: space-between;
}
.flex-start-p{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    min-height: 50px;
    gap: 14px;
}
.flex-start-p .name
{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 30px;
    align-items: center;
  
}
.flex-start-p .content{
    width: 100%;
    min-height: 200px;
    border: 1px solid #514d4d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-start-p .content .row1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.flex-start-p .content .row1 .div-1{
    width: 20%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row1 .div-2{
    width: 7%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row1 .div-3{
    width: 20%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row1 .div-4{
    width: 40%;
    height: 30px;
    background-color: blue;
}

.flex-start-p .content .row2{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.flex-start-p .content .row2 .div-1{
    width: 23%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row2 .div-2{
    width: 7%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row2 .div-3{
    width: 15%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row2 .div-4{
    width: 45%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row3{
    width: 100%;
   height: 50px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.flex-start-p .content .row3 .div-1{
    width: 20%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row3 .div-2{
    width: 7%;
    height: 30px;
    background-color: blue;
}
.flex-start-p .content .row3 .div-3{
    width: 20%;
    height: 30px;
    background-color: blue;
}

.flex-end-p{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    min-height: 80px;
    gap: 14px;
}
.flex-end-p .name
{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 30px;
    align-items: center;
}
.flex-end-p .content{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid #000;
}
/* next end start */
.flex-end-p .content .row1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.flex-end-p .content .row1 .div-1{
    width: 20%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row1 .div-2{
    width: 7%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row1 .div-3{
    width: 20%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row1 .div-4{
    width: 40%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row2{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.flex-end-p .content .row2 .div-1{
    width: 23%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row2 .div-2{
    width: 7%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row2 .div-3{
    width: 15%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row2 .div-4{
    width: 45%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row3{
    width: 100%;
   height: 50px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.flex-end-p .content .row3 .div-1{
    width: 20%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row3 .div-2{
    width: 7%;
    height: 30px;
    background-color: blue;
}
.flex-end-p .content .row3 .div-3{
    width: 20%;
    height: 30px;
    background-color: blue;
}
/* 
end here */


.second{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    border: 1px solid #000;
    justify-content: space-between;
}
.second .flex-start-p .content{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.second .flex-end-p .content{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border: 1px solid #000;
}
.second .flex-end-p .content .row1 .row2 .row3{
    justify-content: stretch;
    align-items: stretch;
}