*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 250px;
    border: 1px solid #000;
    margin: auto;
}
.container .header{
    width: 100%;
    min-height: 100px;
    margin: auto;
    /* border: 1px solid #000; */
    position: sticky;
    background-color: white;
    top:0px;
}
.header-top{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #939393;
}

.header-top .header-logo{
    width: 30%;
    min-height: 50px;
    /* border: 1px solid #000; */
    float: left;
    margin: auto;
    padding: 4px;
    margin-left: 15px;
}
.header-top .header-logo .logo{
    width: 39%;
    height: 40px;
    float: left;
    margin-left: 4px;
}
.header-top .header-logo .logo img{
    width: 100%;
    height: 100%;
}
.header-top .header-logo .search-bar{
    width: 58%;
    height: 40px;
    border: 1px solid green;
    float: left;
    padding: 5px;
    margin-left: 5px;
    border-radius: 15px;
}
.header-top .header-logo .search-bar img{
    width: 10%;
    height: 100%;
    float: left;
}
.header-top .header-logo .search-bar input
{
    width: 79%;
    height: 25px;
    float: left;
    margin-left: 5px;
}
.header-top .header-logo .search-bar input[type = "text"]
{
    border: none;
    font-size: 25px;
    padding: 5px;

}
.header-top .header-logo .search-bar input[type = "text"]::placeholder
{
 color: black;
}
.header-top .header-course{
    width: 45%;
    min-height: 50px;
    /* border: 1px solid #000; */
    float: left;
    margin: auto;
    margin-left: 15px;
}
.header-top .header-course ul
{
    width: 60%;
    min-height: 40px;
    margin: auto;
}
.header-top .header-course ul li{
    display: inline-block;
    padding-top: 10px;
}
.header-top .header-course ul li a{
    margin-left: 25px;
    text-decoration: none;
    font-size: 26px;
    color: black;
    cursor: pointer;
}
.header-top .header-course ul li a:hover{
    color: green
}
.header-top .header-button{
    width: 20%;
    min-height: 50px;
    /* border: 1px solid #000; */
    float: right;
    margin: auto;
    padding: 3px;
    margin-right: 15px;
}
.header-button .icon{
    width: 48%;
    height: 40px;
    float: left;
    margin-left: 5px;
    /* border: 1px solid #000; */
    padding: 5px;
}
.header-button .icon .moon{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid #000; */
}
.header-button .icon .moon img{
    width: 100%;
    height: 100%;
}
.header-button .icon .moon img:hover{
    cursor: pointer;
}
.header-button .icon .moon img:active{
    background-color: #62c35b;
}
.header-button .icon .notification{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 5px;
    /* border: 1px solid #000; */
}
.header-button .icon .notification img{
    width: 100%;
    height: 100%;
}
.header-button .icon .notification img:hover{
    cursor: pointer;
}
.header-button .icon .notification img:active{
    background-color: #62c35b;
}
.header-button .sign-up{
    width: 30%;
    height: 42px;
    margin-left: 5px;
    float: left;
    border: 1px solid #000;
    background-color: black;
    border-radius: 30px;
}
.header-button .sign-up a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 40px;
    padding-left: 13px;
    margin-left: 12px;
    
}
.header-bottum{
width: 100%;
min-height: 70px;
border-bottom: 1px solid #939393;
margin: auto;
}


.header-bottum .course-list{
    width: 80%;
    min-height: 70px;
    margin: auto;

}
.header-bottum .course-list ul{
    width: 100%;
    height: 70px;
    padding: 10px;
    /* border: 1px solid #000; */
    margin: auto;
}
.header-bottum .course-list ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    height: 50px;
    /* border: 1px solid #000; */
    margin: auto;
    margin-left: 9px;
}
.header-bottum .course-list ul li a{
    width: 100%;
    height: 70px;
    /* border: 1px solid #000; */
    font-size: 21px;
    margin: auto;
    text-decoration: none;
    color: black;
}
.header-bottum .course-list ul li a:hover{
    color: green;
}
.content
{
    width: 100%;
    min-height: 250px;
    /* border: 1px solid #000; */
    background-image: linear-gradient(to bottom,#E8FFF9,#FFFFFF);
}
.content .content-title
{
    width: 60%;
    min-height: 200px;
    margin: auto;
    /* margin-top: 35px; */
    /* border: 1px solid #000; */
}
.content .content-title h1{
    text-align: center;
    margin-top: 3px;
    font-size: 45px;
}
.content .content-title .input
{
    width: 80%;
    min-height: 80px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.content .content-title .input input[type= "text"]
{
    width: 75%;
    margin-left: 10px;
    min-height: 80px;
    border: none;
    background-color: #E8FFF9;
}
.content .content-title .input input[type= "text"]:hover
{
    border: none;
}

.content .content-title .input img{
    width: 20%;
    height: 80px;
    float: right;
 
}
.content .content-title .input input[type= "text"]::placeholder
{
    font-size: 25px;
    padding: 8px;
    margin-top: 8px;
    margin-left: 5px;
}
.content .content-title .search-content
{
    width: 60%;
    min-height: 150px;
    margin: auto;
    /* border: 1px solid #000; */
    padding: 50px;
}
.content .content-title .search-content a{
    border: 1px solid #cecece;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: 20px;
    margin: 8px;
    font-size: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.container .content .guidence-div 
{
    width: 60%;
    min-height: 150px;
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 18px;
    margin: auto;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.container .content .guidence{
   
    position: relative;
    width: 100%;
    min-height: 100px;
    /* border: 1px solid #000; */
}
.container .content .guidence span
{
    position: absolute;
    top: 15%;
    left: 2%;
    color: green;
}
.container .content .guidence p{
    margin-top: 50px;
    margin-left: 5px;
    font-size: 25px;
    color: rgb(92, 92, 92);
}
.container .content .guidence button
{
    margin-top: 50px;
    margin-left: 30px;
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.guidence-bottum
{
    width: 60%;
    min-height: 90px;
    /* border: 1px solid #000; */
    width: 100%;
    margin-top: 25px;
}
.guidence-bottum .box
{
    width: 23%;
    margin-top: 13px;
    height: 60px;
    border: 1px solid #000;
    float: left;
    margin-left: 15px;
    padding: 2px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.guidence-bottum .box img{
    width: 30%;
    height: 96%;
    float: left;
    margin: 2px;
}
.box span{
    font-size: 20px;
    color: black;
    padding: 5px;
    line-height: 55px;
    text-align: center;

}
.container .content .courses-content
{
    width: 60%;
    min-height: 150px;
    /* border: 1px solid #000; */
    margin: auto;
    /* padding: 15px; */
    margin-top: 25px;
}
.courses-content .course-title
{
    width: 100%;
    min-height: 50px;
    padding: 4px;
    /* border: 1px solid #000; */
}
.courses-content .course-title h2{
    float: left;
    font-size: 35px;
}
 .courses-content .course-title button
 {
    float: right;
    width: 10%;
    height: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-color: white;
}
 .courses-content .course-title button:hover
 {
    color: green;
    cursor: pointer;
    background-color: white;
 }
.courses-content .course-list
{
    width: 100%;
    min-height: 500px;
    /* border: 1px solid #000; */
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}
.courses-content .course-list .list{
    width: 30%;
    min-height: 480px;
    float: left;
    border: 1px solid #8c8c8c;
    /* margin-left: 50px; */
    gap:30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-size: cover;
}
.courses-content .course-list .list:hover{
    cursor: pointer;
}

.courses-content .course-list .list .image-div{
    width: 100%;
    height:50%;
    /* border: 1px solid #000; */

}
.courses-content .course-list .list .image-div img{
    width: 100%;
    border-radius: 15px;
    height: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
}
.courses-content .course-list .list .title-div-box{
    width: 100%;
    height: 50%;
    /* border: 1px solid #000; */
    text-align: center;
}
.courses-content .course-list .list .title-div-box .div1
{
    width: 100%;
    height: 30%;
    /* border: 1px solid #000; */
    padding: 5px;
    margin-top: 10px;
}
.courses-content .course-list .list .title-div-box .div1 h2
{
    font-size: 35px;
}
.courses-content .course-list .list .title-div-box .div2
{
    width: 100%;
    height: 50px;
    padding: 3px;
    /* border:  solid #000; */
    margin-top: 8px;
    margin-top: 8px;
}
.courses-content .course-list .list .title-div-box .div2 span{
    font-size: 22px;
}
.courses-content .course-list .list .title-div-box .div3
{
    width: 100%;
    height: 50px;
    /* border: 1px solid #000; */
    margin-top: 8px;
    padding: 8px;
}
.courses-content .course-list .list .title-div-box .div3 span
{
    margin-left: 5px;
    font-size: 22px;
}

.courses-content .course-list .list .title-div-box .div3 button
{
    float: right;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: white;
    border: none;
    color: green;
    font-weight: bold;
}
.courses-content .course-list .list .title-div-box .div3 button:hover
{
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.container .content .courses-content .explore
{
    width: 100%;
    min-height: 50px;
    margin: auto;
    /* border: 1px solid #000; */
    margin-top: 25px;
    padding: 5px;
}
.container .content .courses-content .explore .explore-title
{
    width: 100%;
    min-height: 45px;
    /* border: 1px solid #000; */
    padding: 4px;
}
.container .content .courses-content .explore-list{
    width: 100%;
    min-height: 100px;
    /* border: 1px solid #000; */
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
}
.container .content .courses-content .explore-list .explore-div1 a:hover{
    cursor: pointer;
}
.container .content .courses-content .explore-list .explore-div1 , .explore-div2, .explore-div3, .explore-div4{
    width: 24%;
    margin-top: 5px;
    min-height: 80px;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    background-color: #AE84D1;
}
.container .content .courses-content .explore-list .explore-div1 span, .explore-div2 span, .explore-div3 span , .explore-div4 span
{
    width:100% ;
    min-height: 10px;
    position: absolute;
    padding-left: 4%;
    font-size: 30px;
    font-weight: 600;
    color: white;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.container .content .courses-content .explore-list .explore-div1 button, .explore-div2 button, .explore-div3 button, .explore-div4 button
{
    width: 50px;
    min-height: 25px;
    /*border: 1px solid #000;
    */position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    /*border-radius: 25px;
    */margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.container .content .courses-content .explore-list .explore-div1 button:hover, .explore-div2 button:hover , .explore-div3 button:hover, .explore-div4 button:hover{
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 60px;
    cursor: pointer;
    height: 60px;
}
.container .content .courses-content .explore-list .explore-div1  button img, .explore-div2  button img, .explore-div3  button img, .explore-div4 button img{
    width: 100%;
    min-height: 25px;
    /* background-color: #AE84D1; */
    /* border-radius: 25px; */
    /* border: 1px solid #000; */

}
.container .content .courses-content .explore-courses{
    width: 100%;
    min-height: 800px;
    /* border: 1px solid #000; */
    margin-top: 45px;
}
.container .content .courses-content .explore-courses .explore-courses-title{
    width: 100%;
    min-height: 60px;
    /* border: 1px solid #000; */
    padding: 6px;
}
.container .content .courses-content .explore-courses .explore-courses-title h1{
    margin-left: 3px;
}
.container .content .courses-content .explore-courses .explore-courses-list{
    width: 100%;
    min-height: 500px;
    border: 1px solid #000;
}
.container .content .courses-content .explore-courses .explore-courses-list .explore-1
{
    width: 100%;
    min-height: 200px;
    /* border: 1px solid #000; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: auto;
}
.container .content .courses-content .explore-courses .explore-courses-list .box{
    width: 48%;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.container .content .courses-content .explore-courses .explore-courses-list .box a{
    width: 100%;
    min-height: 200px;
    margin: auto;
    position: relative;
}
.container .content .courses-content .explore-courses .explore-courses-list .box span{
    font-size: 35px;
    text-align: center;
    margin-left: 5px;
    /* position: absolute; */
    font-weight: 600;
}