*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border:1px solid black;
    width: 80%;
    min-height: 800px;
    background-attachment: fixed;
    margin:auto;
    padding: 2px;
}
.header{
    margin-top:2px ;
    width:100%;
    min-height: 50px;
    border: 1px solid black;
    background-color: #3d5a80;
}
.container .header .header-company
{
    width: 50%;
    min-height: 50px;
    float: left;
    border: 1px solid black;
}
.header-company h1
{
    text-align: center;
    color: #98c1d9;
}
.container .header-menu{
    width: 50%;
    min-height: 50px;
    float:right;
    background-color: #cad2c5;
}
.header-menu ul li
{
    display:inline-block;
    margin-right: 35px;
    padding: 5px;
}
.header-menu ul{
    text-align: right;
}
.header-menu ul li a
{
    font-size: 30px;
    text-decoration: none;
    color: #2f3e46;
}
.header-menu ul li a:hover
{
    background-color: #52796f;
    color: black;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.slider
{
    width: 100%;
    min-height: 100px;
    padding: 12px;
}
.slider iframe
{
    width: 100%;
    min-height: 600px;
}
.cont-bar-div{
    width: 100%;
    min-height: 300px;
}
.cont-bar-div .bar{
    width: 21%;
    min-height: 300px;
    margin-left:9px ;
    float: left;
     border: 1px solid black;
}
.bar img{
    width: 100%;
    min-height: 300px;
}
.image-bar{

    width: 100%;
    min-height: 300px;
}
.cont-bar-div .cont{
    width: 77%;
    float: right;
    border: 1px solid black;
    min-height: 300px;
    
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.cont-content-div
{
    float: right;
    width: 60%;
    min-height: 300px;
    border:1px solid black;
}
.slider-cont-div{
    float: left;
    width: 39%;
    min-height: 300px;
    border: 1px solid black;
    margin: 4px;
}
.slider-cont-div ul{
    width: 100%;
    min-height: 300px;
    padding: 25px;
}
.slider-cont-div ul li{
    padding: 2px;
    margin-left:10px ;
    width: 100%;
}
.slider-cont-div ul li h2{
    color: #cbf3f0;
}
.slider-cont-div{
    background-color: #ffbf69;
}