*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border:1px solid black;
    width: 100%;
    /* width: 100%; */
    min-height: 800px;
    background-attachment: fixed;
    margin:auto;
    padding: 2px;
}
.header{
    width:100%;
    min-height: 50px;
    background-color: #3d5a80;
}
.container .header .header-company
{
    width: 50%;
    min-height: 50px;
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header-company h1
{
    text-align: center;
    color: #98c1d9;
}
.container .header-menu{
    width: 50%;
    min-height: 50px;
    border-radius: 5px;
    float:right;
    background-color: #cad2c5;
}
.header-menu ul li
{
    display:inline-block;
    margin-right: 35px;
 
    padding: 5px;
}
.header-menu ul{
    text-align: right;
}
.header-menu ul li a
{
    font-size: 30px;
    text-decoration: none;
    color: #2f3e46;
}
.header-menu ul li a:hover
{
    background-color: #52796f;
    color: black;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.slider
{
    width: 100%;
    min-height: 100px;
    padding: 12px;
}
.slider iframe
{
    width: 100%;
    min-height: 600px;
}
.cont-bar-div{
    width: 100%;
    min-height: 300px;
}
.cont-bar-div .bar{
    width: 21%;
    min-height: 300px;
    margin-left:9px ;
    float: left;
    
}
.bar img{
    width: 100%;
    min-height: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
     object-fit: cover;
}
.image-bar{

    width: 100%;
    min-height: 300px;
}
.cont-bar-div .cont{
    width: 77%;
    float: right;
    /* border: 1px solid black; */
    min-height: 300px;
    
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.cont-content-div
{
    float: right;
    width: 60%;
    min-height: 250px;
    padding: 8px;
    /* border:1px solid black; */
}
.slider-cont-div{
    float: left;
    width: 39%;
    min-height: 300px;
    /* border: 1px solid black; */
    margin: 4px;
}
.slider-cont-div ul{
    width: 100%;
    min-height: 300px;
    padding: 25px;
}
.slider-cont-div ul li{
    padding: 2px;
    margin-left:30px ;
    width: 100%;
}
.slider-cont-div ul li h2{
    color: #cbf3f0;
}
.slider-cont-div{
    background-color: #ffbf69;
    border-radius: 5px;
}
.cont-content-div p{
    color: #8a817c;
    font-size: 22px;
     text-align: center;
      /* line-height: 33px; */
      border: 1px solid black;
}

.footer{
    width: 100%;
    min-height: 250px;
    background-color: #0F254E;
    margin-top: 10px;
}
.footer-company-info{
    width: 30%;
    min-height: 250px;
    padding: 20px;
    /* background-color: #52796f; */
    float:left
}
.footer-company-info h1,p{
    color: white;
}
.footer-company-info h1{
    text-align: center;
    font-size: 45px;
    padding: 14px;
}
.footer-company-info p{
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}
.product{
    min-height: 250px;
    width:30%;
   /* background-color: #0F254E; */
    float: left;
}
.product h1{
    color: white;
    margin-top: 25px;  
    font-size: 37px;  
    text-align: center;
}
.product ul{
    padding:10px;
    margin: auto;
}
.product ul li{
    padding: 4px;
    margin-left: px;
    list-style: none;
    font-size: 20px;
    margin-left: 150px;
}
.Company{
   width:30%
   /* text-align: center;    */
    float: right;

}
.Company h1{
    color: white;
    margin-top: 25px; 
    font-size: 40px;
    text-align: center;
}