* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 500px;
  margin: auto;
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 80px 90vh auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "header"
    "home"
    "about"
    "services"
    "why-us"
    "portfolio"
    "team"
    "testimonials"
    "contact"
    "footer";
}
.header {
  grid-area: header;
  /* border: 1px solid #000; */
  display: flex;
  position: sticky;
}
.title {
  /* border: 1px solid #000; */
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.title h1 {
  margin-left: 85px;
  font-weight: 500;
}
.menu {
  /* border: 1px solid #000; */
  flex-basis: 60%;
  display: flex;
}
.menu ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.menu ul li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  text-decoration: none;
}
.menu ul li a {
  font-size: 1.3em;
  text-decoration: none;
  color: lightgrey;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.menu ul li a:hover {
  color: black;
}
.home {
  grid-area: home;
  /* border: 1px solid #000; */
  background-color: #f2efef;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.home .business {
  flex-basis: 40%;
  /* border: 1px solid #000; */
  padding: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home .business h1 {
  font-weight: 300;
  font-size: 3em;
}
.home .business p {
  text-align: justify;
  line-height: 1.5;
}
.business .get-start {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.get-start .btn-1 {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #313131;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.get-start .btn-1:hover {
  padding: 20px 10px;
}
.get-start .btn-1 a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  font-weight: 100;
}
.get-start .btn-2 {
  /*border: 1px solid #000;
    */
  margin-left: 25px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.get-start .btn-2 a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-weight: 700;
  padding: 20px;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.get-start .btn-2:hover {
  padding: 10px;
}
.get-start .btn-2 a:hover {
  color: lightgrey;
}
.home .business-img {
  flex-basis: 55%;
  height: 80%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  /* border: 1px solid #000; */
  position: relative;
}
.home .business-img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.business-img .revenue
{
  width: 40%;
  height: 100px;
  position: absolute;
  background-color: white;
  bottom: 5%;
  left: 5%;
  border-radius:15px ;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.revenue .icon
{
  background-color: #EAEAEA;
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.revenue .icon i
{
  font-size: 2.2em;
}
.revenue .growth
{
  /* border: 1px solid #000; */
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.revenue .growth p
{
  font-size: 1.3em;
}
.revenue .growth span
{
  color: #22C55E;
  font-size: 1.6em;
}
.hero
{
    width: 100%;
    min-height: 80px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero .box
{
    /* border: 1px solid #000; */
    min-height: 80%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.hero .box span
{
  font-size: 1.2em;
}
.hero .box p
{
  font-size: 1em;
  color: #848587;
}
.about {
  grid-area: about;
  /* border: 1px solid #000; */
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: 40vh 100vh;
 grid-template-areas: "about-us about-us"
 "content  meeting-img";
}
.about .about-us
{
  grid-area: about-us;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.about .about-us h3
{
  font-weight: 500;
}
.about .about-us h1
{
  font-weight:400;
  font-size: 3vw;
}
.about .about-us p
{
  width: 65%;
  margin-top: 15px;
  text-align: center;
  font-size: 1.3vw;
  color: #848587;
}
.about .content
{
  grid-area: content;
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
 
}
.about .content h1
{
  font-weight: 100;
  font-size: 3vw;
}
.about .content #pdiff
{
color: #515254;
}
.about .content p
{
 line-height: 1.8;
 font-size: 1.3vw;
 color: #848587;
}
.content .cilent-info
{
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-height: 100px;
}
.cilent-info .info
{
  /* border: 1px solid #000; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cilent-info .info span
{
  font-size: 3em;
}
.btn-meet
{
  width: 28%;
  height: 6%;
  border: 2px solid #858585;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-top: 2px;
}
.btn-meet:hover
{
  border: 2px solid #000;
  margin-top: 0;
}
.btn-meet a
{
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.btn-meet a:hover
{
  color: rgb(156, 128, 128);
}
.about .meeting-img
{
  /* grid-area: meeting-img;
  border: 1px solid #000; */
  display: flex;
  position: relative;
}
.about .meeting-img img
{
  width: 95%;
  height: 90%;
  margin: auto;
  object-fit: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

}
 .about .award-winning
{
  position: absolute;
  width: 50%;
  height: 20%;
  /* border: 1px solid #000; */
  bottom: 0;
  right: 0;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: white;
}
.award-winning .award-icon
{
  /* border: 1px solid #000; */
  width: 25%;
  height: 40%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #787774;
}
.award-winning .award-icon i
{
 
  font-size: 3em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* color: white; */
}
.award-winning .content-award
{
/* border: 1px solid #000; */
width: 60%;
height: 90%;
display: flex;
flex-direction: column;
gap: 8px;
justify-content: center;
}
.award-winning .content-award h3
{
  font-size: 1.5em;
}
.award-winning .content-award p
{
  font-size: 1.2em;
  color: #7c7d7d;;
}
.services {
  grid-area: services;
  border: 1px solid #000;
}
.why-us {
  grid-area: why-us;
  border: 1px solid #000;
}
.portfolio {
  grid-area: portfolio;
  border: 1px solid #000;
}
.team {
  grid-area: team;
  border: 1px solid #000;
}
.testimonials {
  grid-area: testimonials;
  border: 1px solid #000;
}
.contact {
  grid-area: contact;
  border: 1px solid #000;
}
.footer {
  grid-area: footer;
  border: 1px solid #000;
}
