*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.container{
    width: 100%;
    min-height: 500px;
    /* border: 1px solid #000; */
    margin: auto;
}
.container .header
{
    width: 100%;
    min-height: 60px;
    /* border: 1px solid #000; */
    margin: auto;
}
.container .header .header-logo
{
    width: 20%;
    min-height: 60px;
    margin: auto;
    /* border: 1px solid #000; */
    padding: 5px;
    float: left;
}
.container .header .header-logo h1
{
    color: #57A266;
    margin-left: 20px;
}
.container .header .header-menu
{
    width: 60%;
    min-height: 60px;
    margin: auto;
    /* border: 1px solid #000; */
    float: left;
}
.container .header .header-menu ul
{
    padding: 4px;
}
.container .header .header-menu ul li
{
    display: inline-block;
    padding: 10px;
    margin-left: 80px;
}
.container .header .header-menu ul li a
{
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
}
.container .header .header-menu ul li a:hover
{
    background-color: rebeccapurple;
    color: white;
}
.container .header .header-cards
{
    width: 20%;
    min-height: 60px;
    /* border: 1px solid #000; */
    padding: 2px;
    float: right;
}
.container .header .header-cards .search
{
    width: 30%;
    height: 50px;
    margin-left: 5px;
    /* border: 1px solid #000; */
    float: left;
}
.container .header .header-cards .cart
{
    width: 30%;
    height: 50px;
    /* border: 1px solid #000; */
    margin-left: 6px;
    float: left;
}
.container .header .header-cards .notification
{
    width: 30%;
    height: 50px;
    margin-left: 6px;
    /* border: 1px solid #000; */
    float: left;
}
.container .header .header-cards .search img, .container .header .header-cards .cart img ,.container .header .header-cards .notification img
{
    width: 100%;
    height: 100%;
}
.container .content
{
    width: 100%;
    height: 100vh;
}
.container .content .slider
{
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid #000; */
}

.container .content .slider iframe{
    width: 100%;
    height: 100vh;
}
