* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  margin: auto;
  display: grid;
  grid-template-columns: 16% 40% 40%;
  grid-template-rows: 80px 330px 240px 80px;
  gap: 2%;
  grid-template-areas:
    "header header header"
    "slider content-1 content-1"
    "slider content-2 content-3"
    "footer footer footer";
  padding: 4px;
  background-color: #343845;
}
.container .header {
  border: 4px solid #000;
  grid-area: header;
  background: linear-gradient(to right, #7158da, #8d79e2);
  align-content: center;
  text-align: center;
}
.container .header h1 {
  color: white;
}
.container .silder {
  border: 4px solid #000;
  grid-area: slider;
  background-color: #35c6be;
  width: 100%;
  align-content: center;
  text-align: center;
}
.container .silder h1 {
  color: white;
}
.container .content-1 {
  border: 4px solid #000;
  grid-area: content-1;
  background: linear-gradient(to right, #5f60df, #1fa9fb);
  align-content: center;
  text-align: center;
}
.container .content-1 h1 {
  color: white;
}
.container .content-2 {
  border: 4px solid #000;
  grid-area: content-2;
  background: linear-gradient(to right, #5f60df, #1fa9fb);
  align-content: center;
  text-align: center;
}

.container .content-2 h1 {
  color: white;
}
.container .content-3 {
  border: 4px solid #000;
  grid-area: content-3;
  background: linear-gradient(to right, #5f60df, #1fa9fb);
  align-content: center;
  text-align: center;
}
.container .content-3 h1 {
  color: white;
}
.container .footer {
  border: 4px solid #000;
  grid-area: footer;
  background: linear-gradient(to left, #7158da, #8d79e2);
  align-content: center;
  text-align: center;
}
.container .footer h1 {
  color: white;
}
