*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 900px;
    border: 1px solid #000;
    margin: auto;
}
.header{
    margin: auto;
    width: 100%;
    min-height: 70px;
    /* border: 1px solid #000; */
    background-color: #2A3054;
}
.container .header .header-logo{
    width: 30%;
    min-height: 70px;
    margin-left: 2px;
    /* border: 1px solid #000; */
    margin: auto;
    padding: 5px;
    float: left;
}
.container .header .header-logo h2{
    text-align: center;
    font-size: 28px;
    color: #2f95d4;
}
.container .header .header-menu{
    width: 50%;
    min-height: 70px;
    /* border: 1px solid #000; */
    margin: auto;
    float: left;
    padding: 3px;
}

.container .header .header-menu ul{
    width: 100%;
    min-height: 50px;
    margin: auto;
    margin-top: 8px;

}
.container .header .header-menu ul li{
    display: inline-block;
    padding: 5px;
    margin: auto;


}
.container .header .header-menu ul li a{
    padding: 15px;
    text-decoration: none;
    margin: auto;
    color: white;
    font-size: 20px;
}
.container .header .header-menu ul li a:hover{
    background-color: red;
    text-align: center;
    color: white;
}
.container .header .header-button{
    width: 20%;
    min-height: 70px;
    /* border: 1px solid #000; */
    display: inline-block;
    float: right;
    padding: 8px;
}

.container .header .header-button button{
    text-align: center;
    width: 50%;
    min-height: 50px;
    margin: auto;
    font-size: 20px;
    background-color: #256AFF;
    color: white;
    border-radius: 50px;
}
.container .header .header-button button:hover{
    background-color: white;
    color: black;
}
.container .content{
    width: 100%;
    min-height: 917px;
    border: 1px solid #000;
    /* background-color: #292F4F; */
    background-image: url("../img/leader.jpg");
    background-size: cover;
     background-position: center; 
      background-repeat: no-repeat;
}
.container .content .content-title
{
    width: 50%;
    min-height: 100px;
    margin: auto;
    margin-top: 200px;
    /* border: 1px solid #000; */
    text-align: center;
}
.container .content .content-title h1 span{
    color: #0DCAF4;
    text-decoration: underline;
}
.container .content .content-title h1{
    color: white;
}
.container .content .content-date
{
    width: 50%;
    min-height: 50px;
    /* border: 1px solid #000; */
    margin: auto;
}
.container .content .content-date table{
    width: 30%;
    margin: auto;
    min-height: 50px;
    /* border: 1px solid #000; */
    border-collapse: collapse;
}
.container .content .content-date table tr,td{
   border: 1px solid white;
}

.container .content .content-date table td{
    padding: 5px;
    text-align: center;
    color: white;

}
.container .content .content-down-arrow
{
    width: 50%;
    min-height: 50px;
    /* border: 1px solid #000; */
    margin: auto;
    margin-top: 50px;
    padding: 5px;
}
.container .content .content-down-arrow .arrow{
    width: 10%;
    min-height: 50px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 100px;
    background: white;
}
.container .content .content-down-arrow .arrow img
{
    margin: auto;
    width: 100%;
    height: 70px;
}
.container .content-highlights{
    width: 100%;
    min-height: 270px;
    margin-top: 80px;
    padding: 5px;
}
.container .content-highlights .box{
    flex-basis: 30%;
}
.container .content-highlights .light-box
{
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    gap: 10px;

    justify-content:space-evenly;
    align-items: center;
}
.container .content-highlights .light-box img
{
    width: 100%;
    height: 300px;
}