*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    min-height: 1000px;
    /* border: 1px solid white; */
    margin: auto;
}
.container .header
{
    width: 100%;
    min-height: 50px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto;
}
.container .header .header-logo
{
    width: 10%;
    min-height: 90px;
    /* border: 1px solid white; */
    margin: auto;
    padding: 4px;
}
.container .header .header-logo h1{
    font-weight: bold;
    font-size: 50px;
    color: orange;
    margin-left: 10px;
}
.container .header .header-menu
{
    width: 55%;
    /* min-height: 60px;
    border: 1px solid white; */
    margin: auto;
}
.container .header .header-menu ul{
    width: 100%;
    display: flex;
}
.container .header .header-menu ul li{
    margin: 30px;
    list-style: none;
}
.container .header .header-menu ul li a{
    color: white;
    font-size: 32px;
    font-weight: 800;
    text-decoration: none;
}
.container .header .header-menu ul li a:hover{
    background-color: white;
    color: black;
    width: 100%;
    height: 100px;
    padding: 8px;
    transition: 0.5s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.container .header .header-search{
    width: 30%;
    min-height: 90px;
    /*border: 1px solid white;
    */padding: 8px;
    margin: auto;
}
.container .header .header-search .search{
    width: 100%;
    min-height: 70px;
    border: 3px solid orange;
    display: flex;
    align-items: center;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}
.container .header .header-search .search .search-bar{
    width: 60%;
    height: 70px;
    /* border: 1px solid white; */
}
.container .header .header-search .search .search-bar input
{
    width: 100%;
    height: 70px;
    background-color: transparent;
    border: none;
    color: white;
}
.container .header .header-search .search .search-bar input[type="text"]{
    width: 100%;
    font-size: 25px;
}
.container .header .header-search .search .search-bar input::placeholder
{
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 800;
}
.container .header .header-search .search .search-bar-name{
    width: 40%;
    height: 70px;
    /*border: 1px solid white;
    */position: relative;
    padding: 2px;
    background-color: orange;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.container .header .header-search .search .search-bar-name span{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    /* background-color: orange; */
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 30px;
}
.container .content
{
    width: 100%;
    min-height: 100px;
    /* border: 1px solid white; */
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.container .content .content-list{
    width: 55%;
    min-height: 800px;
    /* border: 1px solid white; */
    padding: 5px;
}
.container .content .content-list h1{
    font-size: 70px;
    color: white;
    margin-left: 4px;
    margin-top: 45px;
}
.container .content .content-list span{
    color: orange;
}
.container .content .content-list p{
    font-size: 28px;
    color: white;
    margin-left: 4px;
    margin-top: 10px;
}
.container .content .content-list button{
    width: 300px;
    height: 80px;
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    background-color: orange;
    font-weight: 100;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.container .content .content-list button:hover{
    padding: 25px;
    width: 350px;
    height: 90px;
    background-color: white;
    color: rgb(238, 107, 0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.container .content .content-login{
    width: 40%;
    min-height: 100px;
    /*border: 1px solid white;
    */padding: 5px;
}
.container .content .content-login .login-form
{
    width: 60%;
    min-height: 500px;
    border: 1px solid white;
    background-color: rgb(31, 29, 29);
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.container .content .content-login .login-form button
{
    width: 88%;
    min-height: 60px;
    margin: auto;
    margin-top: 25px;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 500;
    color: orange;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.container .content .content-login .login-form table ,tr,td{
   width: 100%;
   /* border: 1px solid white; */
   height: 50px;
}
.container .content .content-login .login-form table
{
     width: 90%; 
    min-height: 150px;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 5px;
    border-collapse: collapse;
    text-align: left;
    
}
.container .content .content-login .login-form table tr td label{
    color: white;
    font-size: 25px;
    /* border: 1px solid white; */
    text-align: left;
    font-weight: 500;
}
.container .content .content-login .login-form table tr td {
    padding: 8px;
    margin-top: 5px;
}
.container .content .content-login .login-form table tr
{
    border-spacing: 10px;
}
.container .content .content-login .login-form table tr td input{
    width: 100%;
    height: 80px;
    background: transparent;
    border: 1px solid white;
}
.container .content .content-login .login-form table tr td input[type="email"],input[type="password"]
{
    color: white;
    background: transparent;
    font-size: 25px;
    padding: 4px;
}
#login{
    background-color: orange;
    color: black;
}
.option-text span{
    color: white;
    font-size: 35px;
}
.option-text span a{
    color: orange;
    text-decoration: none;
}
#withlogin{
    margin-top: 10px;
    margin-bottom: 5px;
}
.option-option{
    width: 90%;
    min-height: 80px;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.login-form span{
    color: white;
    font-size: 25px;
}
.option-option span
{
    color: white;
    font-size: 30px;
}
.box{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
}
.option-option .box img{
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}